<%- include('../partials/header')%>

<% cart.items.forEach(function(i){ %>
        <p><%= i.name %></p>
        <p><%= i.price %></p>
        <p><%= i.description %></p>
        <p><%= i.userName %></p>
        <img src="<%= i.userAvatar %>">

<% }) %>




<form action="/garage/cart" method="POST">
    <input type="submit" value="Remove All">
</form>

<form action="/garage/cart?_method=DELETE" method="POST">
    <button type="submit">Purchase All!</button> 
    <!-- Needs OAuth -->
</form>





</div>
    
<%- include('../partials/footer')%>
