<%- include('../partials/header')%>

<% ditems.forEach(function(i){ %>
    <div class = "item">
        <% if(i.purchased == true){ %>
            <p><%= i.name %></p>
            <p><%= i.price %></p>
            <p><%= i.description %></p>
            
        <% } %>

<% }); %>
<form action="/garage/cart" method="POST">
    <input type="submit" value="Remove All">
</form>




</div>
    
<%- include('../partials/footer')%>
