<%- include('../partials/header')%>

<% items.forEach(function(i){ %>
    <% for(let j = 0; j < i.items.length; j++){ %>
        <p><%= i.items[j].name %></p>
        <p><%= i.items[j].price %></p>
        <p><%= i.items[j].description %></p>
    <% } %>
<% }) %>




<form action="/garage/cart" method="POST">
    <input type="submit" value="Remove All">
</form>

<form action="/garage/cart?_method=DELETE" method="POST">
    <button type="submit">Purchase All!</button> 
    <!-- Needs OAuth -->
</form>





</div>
    
<%- include('../partials/footer')%>
