<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose garage</title>
    <link rel = "stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class = "header">
        <a class = "head1" href = "/garage/new">New Item</a>
        <a class = "head2" href ="/garage" style="font-size: 100px">All Items</a>
        <a class = "head3" href ="/garage/cart">Cart</a>
    </div>
    

    <nav>
        <% if (user) { %>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a class ="googleB" href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png" style="width: 60px;"></a>
        <% } %>
      </nav>
<% ditems.forEach(function(i){ %>
    <div class="grid-container">
    <% if(i.purchased == false){ %>
        <% if (i.show == null) { %>
            <div class="grid-item">
                <p>Item: <%= i.name %></p>
                <p>Description: <%= i.description %></p>
                <p>$<%= i.price %></p>
                <p><%= i.userName%></p>
                <p>Is this item availible: <%= !i.Purchased %></p>
            <img src="<%= i.userAvatar %>">
                <% if (user && !(user._id.equals(i.user))) { %>
                    <form action="/garage/<%=i._id%>" method="get">
                        <input type="submit" value="See more Details">
                    </form>
                <% } %>

                <% if (user && user._id.equals(i.user)) { %>
                    <form action="/garage/<%=i._id %>/remove?_method=DELETE" method="POST">
                        <button type="submit">Remove from Website</button> 
                    </form>
                <% } %>
            </div>
            <% } %> 

    </div> 
<% } %>
</div>
<% }); %>
<%- include('../partials/footer')%>
