<%- include('../partials/header')%>

<% ditems.forEach(function(i){ %>
<div class = "item">
    <% if(i.purchased == false){ %>
        <p><%= i.name %></p>
        <p><%= i.price %></p>
        <p><%= i.description %></p>
        <p><%= i.purchased %></p>
        <!-- <p><%= i.user%></p> -->
        <p><%= i.userName%></p>
        <img src="<%= i.userAvatar %>">
        <% if (!(user && user._id.equals(i.user))) { %>
            <form action="/garage/<%=i._id%>" method="get">
                <input type="submit" value="Purchase">
            </form>
        <% } %>



            <% if (user && user._id.equals(i.user)) { %>
                <form action="/garage/<%=i._id %>/remove?_method=DELETE" method="POST">
                    <button type="submit">Remove from Website</button> 
                    <!-- Needs OAuth -->
                </form>
            <% } %>

        
<% } %>

    

</div>



<% }); %>


<%- include('../partials/footer')%>
