<%- include('../partials/header')%>

<% items.forEach(function(i){ %>
<div class = "item">
    <p><%= i.name %></p>
    <p><%= i.price %></p>
    <p><%= i.description %></p>
    <form action="/cart" method="POST">
        <input type="submit" value="Purchase Item">
    </form>
</div>



<% }); %>


<%- include('../partials/footer')%>
