<%- include('../partials/header')%>

<% ditems.forEach(function(i){ %>
<div class = "item">
    <% if(i.purchased == false){ %>
        <p><%= i.name %></p>
        <p><%= i.price %></p>
        <p><%= i.description %></p>
        <p><%= i.purchased %></p>
    <% } %>

    <form action="/garage/<%=i._id%>" method="get">
        <input type="submit" value="Purchase">
    </form>
</div>



<% }); %>


<%- include('../partials/footer')%>
