<%- include('../partials/header')%>

    <div class = "item">
        <p><%= items.name %></p>
        <p><%= items.price %></p>
        <p><%= items.description %></p>
        <form action="/garage" method = "post">
            <input type="submit" value="Add To Cart">
        </form>
    </div>
    

<%- include('../partials/footer')%>
