<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose garage</title>
    <link rel = "stylesheet" href="stylesheets/style.css">
</head>

<body>
    <a href = "/garage/new">New Item </a><------ Sign in before using<br> 
    <a href ="/garage">All Items </a><br>
    <a href ="/garage/cart">Cart</a> <------ Sign in before using

    <nav>
        <img src="/images/camera.svg">
        <% if (user) { %>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
    <div class = "item">

        <% if(ditems != null){ %>
            <p><%= ditems.name %></p>
            <p><%= ditems.price %></p>
            <p><%= ditems.description %></p>
            <p><%= ditems.userName %></p>
            <p>Is this item availible: <%= !ditems.Purchased %></p>
            <img style = "height:100px; width: 155px;"src="<%= ditems.image %>"><br>
            <img src="<%= ditems.userAvatar %>">
        <% }else if(ditems == null){ %>
            <p>Sup foo</p>
       <% } %>


        <form action="/garage/<%=ditems._id%>" method = "post">
            <input type="submit" value="Add To Cart">
        </form>
    </div>
    

<%- include('../partials/footer')%>
